.container {
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 100%;
  justify-content: center;
  // align-items: center;
  min-height: 100vh;
  // background: linear-gradient(to right, #4568dc, #b06ab3);
  background-color: #444;
}
