@import './variable.less';
.container {
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 100%;
  justify-content: center;
  // align-items: center;
  margin: 0 auto;
  padding: 0 2.5rem;
  min-height: 100vh;
  max-width: 80rem;
}
main {
  min-height: 100vh;
  // background: linear-gradient(to right, #4568dc, #b06ab3);
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}
nav {
  .layout(flex,row,space-between,center,nowrap);
}
.navbar {
  &--list {
    .layout(flex,row,flex-start,center);
  }
  &--item {
    padding: 0.75rem 1.5rem;
    color: #fff;
  }
}
