.upload--item {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 6rem 6rem;
  align-items: center;
  gap: 1rem;

  // 缩略图
  &__image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
}
